html{
    position: relative;
    }
    
    body{
        margin-bottom: 120px;
        margin-top: 30px;
    }
    
    .jumbotron{
        background-image: url(https://i.ibb.co/0JHvdWt/css.jpg);
        background-attachment: fixed;
        background-size: cover;
        }
    
    .jumbotron h1{
      font-family: 'MV Boly';
      font-colour: #ffffff;
    }
    
    .jumbotron img{
        width: 200px;
        border: solid #999999;
        background-color: cornflowerblue;
    }
    
    hr{
        width:250px;
        border-top: 3px solid rgb(160, 149, 149);
    }
    
    section{
        min-height: 600px;
    }
    
    .portfolio{
        background-image: url(https://i.ibb.co/0JHvdWt/css.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
    
    .contact{
        min-height: 800px;
    }
    
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color: rgb(8, 6, 6);
        padding-top: 30px;
    }
    
    footer p{
        color: aliceblue;
        font-size: 0.9em;
    }
    
    .about img{
        width: 150px;
    }
    